<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 footer">
        </div>
        <div class="col-md-6 footer text-center">
            <div class="credits">
                    <span>made with <span class="fas fa-heart"></span> by <strong><a class="c-link" href="https://roelldev.de"
                                                                                     target="_blank">roelldev.de</a></strong> and
                    <strong><a class="c-link" href="https://github.com/maxhelligeplenty" target="_blank">maxhellige</a></strong>
                    </span>
            </div>
        </div>
        <div class="col-md-3 footer legal">
            <span><a class="c-link" (click)="navigateToImpressum()">Impressum</a></span>
            <span><a class="c-link" (click)="navigateToPrivacy()">Datenschutz</a></span>
            <span data-toggle="tooltip" data-placement="top" title="Report a bug" class="bug-report fas fa-bug"
                  (click)="navigateToBeta()"></span>
        </div>
    </div>
</div>

<cookie-law [expiration]="1"></cookie-law>