<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="header">
                <h1 class="p-2">Bug Report</h1>
            </div>  
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <form>
                <div class="p-2">
                    <label>Name</label>
                    <input placeholder="Name" type="text">
                </div>
                <div class="p-2">
                    <label>Email</label>
                    <input placeholder="Email" type="email" required>
                </div>    
                <div class="p-2">
                    <label>Title should describe your bug/problem *</label>
                    <input placeholder="Title" type="text" required>
                </div>
                <div class="p-2">
                    <label>Detailed description and steps to recreate the bug *</label>
                    <textarea></textarea>
                </div>
                <div class="p-2">   
                    <div class="upload-btn-wrapper">
                        <label>Upload images to visualize your bug</label>
                        <button>Upload a file</button>
                        <input type="file" name="myfile" />
                    </div>
                </div>
                <div class="p-2 submit-button-container">
                    <button type="submit" (click)="sendMailToServer()">Submit Bug
                        <span class="fas fa-bug"></span>
                    </button>
                </div>
                <div class="p-2">
                    <span>Version beta-1.0</span>
                </div>
            </form>
        </div>
    </div>
</div>
