<div class="room-view container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <button class="float-left header-button"
                    (click)="navigateToStartPage()">
                <span class="fas fa-home mr-1"></span>
                Home
            </button>
        </div>
        <div class="col-lg-4">
            <button type="button" class="header-button float-right"
                    (click)="copyInviteLinkToClipboard()">Invite Friends
                <span class="fas fa-user-plus"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 p-3">
            <youtube-player [videoId]="videoId"
                            (ready)="savePlayer($event)"
                            (change)="onStateChange()">
            </youtube-player>
            <div class="add-video-url-container mb-3">
                <input [(ngModel)]="newVideoUrl"
                       type="text"
                       placeholder="Add video url to playlist"
                       (keydown.enter)="addNewVideoUrl(newVideoUrl)">
                <button (click)="addNewVideoUrl(newVideoUrl)" type="button">
                    <span class="fas fa-plus-square"></span>
                </button>
            </div>
        </div>
        <div class="col-lg-3 p-3">
            <!--<div *ngFor="let user of currentRoomMember">-->
            <!--{{user.name}}-->
            <!--</div>-->
            <div class="chat">
                <div class="chat-output p-3 mb-3">
                    <p *ngFor="let message of messages">
                        <span *ngIf="message.from">{{message.from.name}} :</span>
                        {{message.content}}
                    </p>
                </div>
                <div class="send-message-container">
                    <input [(ngModel)]="newMessage"
                           class="message-input"
                           placeholder="Message"
                           (keydown.enter)="sendMessage(newMessage)">
                    <button (click)="sendMessage(newMessage)"
                            type="button"
                            class="float-right"
                            id="send-button">
                        <span class="fas fa-paper-plane"></span>
                    </button>
                </div>
            </div>
            <div class="playlist">
                <h3>PLAYLIST</h3>
                <div class="playlist-container">
                    <div *ngFor="let video of videoHistoryList" class="playlist-item" (click)="playNewVideoById(video.videoId)">
                        <img [src]="video.videoData.thumbnail">
                        <div class="video-description">{{video.videoData.title}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
