button
{
    padding: 0.5rem;
    border:none;
    border-radius: 3px;
    font-size: 1rem;
    outline: none;
}
.c-link
{
    color: white !important;
    &:hover
    {
        cursor: pointer;
        color:white !important;
        text-decoration: underline !important;
    }
}