<div class="start-page">
    <div class="container-fluid landing-page">
        <div class="brand">
            <h1>
                <span class="brand-icon fas fa-play-circle"></span>
                Sync Watch
            </h1>
        </div>
        <div class="row">
            <div class="col-lg-12 main-container d-flex justify-content-center">
                <div class="join-button"
                        (click)="joinRoom()">
                    Create a new Room
                </div>
            </div>
        </div>
        <div class="description-container">
            <h2>Ever wanted to watch YouTube together ?</h2>
        </div>
    </div>
    <div class="container-fluid features">
        <div class="row">
            <div class="col-md-12 p-2 pt-5">
                <h3 class="title">Features</h3>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-md-12 col-lg-3 p-5">
                <div class="c-card mb-2">
                    <div class="header">
                        <span class="icon fab fa-youtube"></span>
                    </div>
                    <div class="body p-3">
                        <h3>Steam Youtube videos synchron with your friends</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-3 p-5">
                <div class="c-card mb-2">
                    <div class="header">
                        <span class="icon far fa-comments"></span>
                    </div>
                    <div class="body p-3">
                        <h3>Chat feature</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-3 p-5">
                <div class="c-card mb-2">
                    <div class="header">
                        <span class="icon fas fa-rocket"></span>
                    </div>
                    <div class="body p-3">
                        <h3>Best application performance</h3> 
                        <h3 class="text-muted">build with Angular</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-3 p-5">
                    <div class="c-card mb-2">
                        <div class="header">
                            <span class="icon fas fa-mobile"></span>
                        </div>
                        <div class="body p-3">
                            <h3>Build for mobile first</h3>
                            <h3 class="text-muted">responsive design.</h3>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="container-fluid support">
        <div class="row">
            <div class="col-lg-12 pt-5">
                <h3 class="title">Support</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 pt-3 pb-5">
                <h4>Follow our socials</h4>
                <div class="socials">
                    <span class="pr-2 fab fa-twitter"></span>
                    <span class="pr-2 fab fa-instagram"></span>
                </div>
                <h4>Donate</h4>
                <div class="donate">
                    <span class="pr-2 fas fa-coffee"></span>
                </div>
            </div>
        </div>
    </div>
</div>
